#timeline {
  width: 200px;
  height: 8px;
  /* margin-top: 20px; */
  /* margin-left: 10px; */
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 8px;
}

#pButton {
  /* float: left; */
  width: 50px;
  height: 50px;
  border: 0px;
  cursor: pointer;
  margin-top: -13px;
  /* text-align: center; */
}

#pButton img {
  /* float: left; */
  width: 50px;
  height: 50px;
  border: 0px;
  cursor: pointer;
  /* text-align: center; */
}

#playhead {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -4px;
  background: rgba(0, 0, 0, 0.5);
  /* cursor: pointer; */
}
